<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
         <link rel="stylesheet" href="scss/main.css">
</head>
<body>
    {{>header}}

    {{errorComment}}

    {{>footer}}
</body>
</html>