<div class="header-hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-10 mx-auto">
                    <div class="header-hero_text">
                        <h2><span>Quran</span> for everyone</h2>
                        <p>Qurʾān, (Arabic: “Recitation”) also spelled Quran and Koran, the sacred scripture of Islam.
                            According to conventional Islamic belief, the Qurʾān was revealed by the angel Gabriel to
                            the Prophet Muhammad in the West Arabian towns Mecca and Medina beginning in 610 and ending
                            with Muhammad’s death in 632 CE. The word qurʾān, which occurs already within the Islamic
                            scripture itself, is derived from the verb qaraʾa—“to read,” “to recite”
                        </p>
                        <div class="header-text_btn ">
                            <a href="#" alt="">Download app now</a>
                            <a href="#" alt="" id="btn__2">start free trial</a>
                        </div>
                    </div>
                </div>
                <!-- rigth side images -->
                <div class="col-lg-6 col-10 mx-auto ">
                    <figure class="header-hero_img d-sm-none d-lg-flex d-xs-none">
                        <img src="images/quran.jpeg" alt="" width="70%" class="img-fluid">
                    </figure>
                </div>
            </div>
        </div>
    </div>